<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles2.css') }}">
  <title>l'image</title>
</head>

<body>
  <h1>l'image</h1>

  <div id="image-container">
    <img id="image" src="{{ url_for('static',filename='img/code.png') }}" alt="Image Description">
  </div>

  <p id="help-text">aide: 8px = 1char</p>
  <!--aide 2: table ascii-->

</body>

</html>
